@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600&display=swap');

.app {
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titles {
  line-height: 0.5;
}

.titles h2 {
  color: gray;
}

.nav {
  position: relative;
  margin-bottom: 75px;
}

.switch {
  position: absolute;
  top: 8px;
  right: 16px;
}

.primary {
  width: 650px;
}

.social, .bio {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.social a {
  color:#32CD32;
}

.social a:hover, .projectslist a:hover {
  color: rgb(60, 235, 60);
}

.bio a {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 20px;
  width: 135px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5px 7.5px 0px 7.5px;
}

.active {
  background-color: #32CD32;
}

.active:hover {
  background-color: #32CD32 !important;
}

.bio a:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.projectslist {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.projectslist a {
  color: #32CD32;
  margin: 2.5px;
}

.active p {
  color: white;
}

.views {
  display: flex;
  justify-content: center;
}

.bio {
  width: 650px;
}

.viewcontent {
  line-height: 1.5;
}

.zahid {
  border-radius: 50%;
}

.darkmode {
  background-color: black;
  color: white;
}

.slider {
  display: flex;
  justify-content: center;
}

.particlecount {
  margin: 20px;
}

.particles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overclock {
  background-color: tomato;
  border: tomato;
  border-radius: 20px;
  color: white;
  outline: none;
  font-size: 0.8rem;
  width: 40%;
  height: 30px;
  font-family: 'Overpass Mono', monospace;
}

.overclock:hover {
  background-color: rgba(255, 99, 71, 0.822);
  border: rgba(255, 99, 71, 0.822);
}

.terminate {
  color: tomato;
  font-weight: 800;
  text-decoration: none;
}

.terminate:hover {
  color: rgba(255, 99, 71, 0.822);
}

@media (max-width: 600px) {
  .primary {
    width: 90%;
  }
  .titles {
    line-height: 0.5;
  }
  .titles h2 {
    line-height: 1.3;
  }
  .social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .bio {
    flex-wrap: wrap;
    width: 100%;
  }
  .bio a {
    width: 125px;
    margin: 7.5px;
  }
  .social a {
    padding: 5px;
    margin: 5px;
    line-height: 0.5;
  }
  .projectslist a {
    width: 90%;
    margin: 5px;
  }
  .particles {
    display: flex;
    justify-content: space-evenly;
  }
  .nav {
    margin-bottom: 50px;
  }
}