@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600&display=swap');

.app {
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titles {
  line-height: 0.5;
}

.titles h2 {
  color: gray;
}

.primary {
  border: 1px solid blue;
  width: 650px;
  margin: 100px;
}

.social, .bio {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.social {
  border: 1px solid green;
}

.views {
  display: flex;
  justify-content: center;
}

.bio {
  border: 1px solid purple;
  width: 50%;
}

.viewcontent {
  line-height: 1.5;
}
